.header {
  width: 100%; }
  .header .estilosNav {
    padding: 0; }
    .header .estilosNav .searchPadre {
      display: flex;
      justify-content: space-between;
      background-color: green;
      height: 100px; }
      .header .estilosNav .searchPadre img {
        margin-left: 120px;
        padding: 3px 0px; }
    .header .estilosNav .carritoLogin {
      display: flex;
      background-color: green;
      width: 100%;
      height: 100px; }
      .header .estilosNav .carritoLogin .headerNav .contadorCarrito {
        margin-top: 20px;
        cursor: pointer; }
      .header .estilosNav .carritoLogin .headerNav .contenedorCarrito {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 420px;
        width: 300px;
        right: 0;
        left: auto;
        background-color: lightyellow; }
        .header .estilosNav .carritoLogin .headerNav .contenedorCarrito .productoEnCarrito {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0px 0px;
          padding: 3px 0px;
          border-top: solid black; }
          .header .estilosNav .carritoLogin .headerNav .contenedorCarrito .productoEnCarrito .nombreEnCarro {
            font-style: italic;
            font-weight: bolder; }
        .header .estilosNav .carritoLogin .headerNav .contenedorCarrito .btnEliminar {
          width: min-content;
          height: min-content;
          border-radius: 5px; }
        .header .estilosNav .carritoLogin .headerNav .contenedorCarrito .totalCarrito {
          padding-left: 60px;
          font-size: medium;
          font-weight: bolder;
          background-color: #fd3939; }
        .header .estilosNav .carritoLogin .headerNav .contenedorCarrito .btnComprar {
          cursor: pointer;
          margin: 20px 100px;
          padding: 7px;
          background-color: #fd3939;
          border-radius: 10px; }
        .header .estilosNav .carritoLogin .headerNav .contenedorCarrito img {
          width: 150px;
          height: 150px; }

body {
  overflow-x: hidden;
  font-family: 'Josefin Sans', sans-serif, "Dancing Script";
  margin-top: 120px; }
  body .contenido .filtrosPadre {
    font-size: large; }
    body .contenido .filtrosPadre h5 {
      font-size: x-large;
      font-weight: bolder; }
  body .contenido #productosPadre {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    flex-wrap: wrap; }
    body .contenido #productosPadre .contenedorProductos {
      display: flex;
      flex-direction: column;
      margin: 20px 15px;
      width: 25%;
      height: 460px; }
      body .contenido #productosPadre .contenedorProductos .img-productos {
        display: flex;
        margin: 20px 0px 0px 0px;
        width: 100%;
        height: 65%; }
        body .contenido #productosPadre .contenedorProductos .img-productos img {
          width: 100%;
          height: 100%; }
      body .contenido #productosPadre .contenedorProductos .info-productos {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        margin: 20px 0px 0px 0px; }
      body .contenido #productosPadre .contenedorProductos .btnComprar {
        margin: 0;
        display: flex;
        justify-content: center;
        width: 100%; }
        body .contenido #productosPadre .contenedorProductos .btnComprar #addCarrito {
          width: 65%; }
