#productosPadre{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    .contenedorProductos{
        display: flex;
        flex-direction: column;
        margin: 20px 15px;
        width: 25%;
        height: 460px;
        .img-productos{
            display: flex;
            margin:20px 0px 0px 0px;
            width: 100%;
            height: 65%;
            img{
                width:100%;
                height: 100%;
            }
        }
        .info-productos{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: flex-start;
            margin:20px 0px 0px 0px;
        }
        .btnComprar{
            margin:0;
            display: flex;
            justify-content: center;
            width: 100%;
            #addCarrito{
                width: 65%;
            }
        }
    }
}