.header{
    .primero{
        margin:0;
        padding: 0;
        .enviosPais{
            display: flex;
            justify-content: center;
            .envios{
                font-size: x-large;
                font-weight: bolder;
            }
        }
    }
    .searchPadre{
        display: flex;
        justify-content: space-around;
        background-color: green;
        height: 100px;
        margin:0;
        padding: 0;
    }
    .carritoLogin{
        display: flex;
        background-color: green;
        margin:0;
        padding: 0;
        .headerNav{
            .contadorCarrito{
                cursor: pointer;
            }
            .contenedorCarrito{
                .productoEnCarrito{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 5px 0px;
                    padding: 3px 0px;
                    border-bottom: solid black;
                    .nombreEnCarro{
                        font-style: italic;
                        font-weight: bolder;
                    }
                }
                .btnEliminar{
                    width: min-content;
                    height: min-content;
                }
                .totalCarrito{
                    background-color: aqua;
                    order: 5;
                }
                img{
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }
}